@import url('https://fonts.googleapis.com/css2?family=Do+Hyeon&display=swap');
/* 
Primary Color: #A38D65;
Light Primary Color: #bbad94;
Secondary Color: #C23838;
Text Color: #343A40;
Button Color:  #A38D65;
Button Hover Color: #6e5f42 ;
*/
body{
    font-family: 'Do Hyeon', sans-serif;
	font-weight: normal;
    font-style: normal;
    color: #343A40;
}

h2{
    font-weight: bolder;
    font-size: 42px;
    color: #343A40;
}
p{
    font-size: 16px;
}
a{
    color: #343A40;
    text-decoration: none;
}
a:hover{
    color: #C23838;
}
header.header-area {
    background-color: #ffffff;
    -webkit-box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
    -moz-box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.16);
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 16%);
    width: 100%;
    display: block;
    position: fixed;
    z-index: 9999999;
}
.navigation-bar-logo img{
    height: 70px;
}
.content {
    padding-top: 155px;
}

.navigation-bar {
    padding-top: 1em;
}

span.input-group-text {
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    height: 100%;
    background-color: #A38D65;
    border: 1px solid #A38D65;
}

.align-center{
	text-align: center;
}
.align-right {
    text-align: right;
}
.align-left {
    text-align: left;
}

input.search-nav {
    background-color: #f8f8f8;
    height: 3.5em;
    font-size: 14px;
    font-weight: 600;
    border: 1px solid #f8f8f8;
}
input.search-nav:focus{
	border-color: #A38D65;
	box-shadow: unset;
}
.search{
	margin: auto;
}
.buy-online {
    margin: auto;
    font-weight: bold;
}
.buy-online p span:hover {
    color: #A38D65;
    cursor: pointer;
}

.buy-online p span i{
    padding-right: 10px;
}


.row.topbar {
    border-bottom: 3px dashed #A38D65;
    padding-bottom: 15px;
}

.search .input-group.mb-3 {
    margin-bottom: 10px !important;
}

.nav {
  height: 50px;
  width: 100%;
  position: relative;
}

.nav > .nav-header {
  display: inline;
  margin-left: auto;
}

.nav > .nav-header > .nav-social {
  display: inline-block;
  font-size: 22px;
  color: #343A40;
  font-weight: bold;
  padding: 10px 10px 10px 10px;
}

.nav > .nav-header > .nav-social > i {
    padding: 5px;
}

.nav > .nav-header > .nav-social > i:hover{
    color: #A38D65;
}

.nav > .nav-btn {
  display: none;
}

.nav > .nav-links {
  display: inline;
  font-size: 16px;
}

.nav > .nav-links > a {
	display: inline-block;
    padding: 13px 10px 13px 10px;
    text-decoration: none;
    color: #343A40;
    font-weight: bold;
}

.nav > .nav-links > a:hover {
  color: #A38D65;
}

.nav > #nav-check {
  display: none;
}

.first-section{
    background-image: linear-gradient(to bottom, rgba(245, 246, 252, 0.52), rgba(163, 141, 101, 0.73)), url(../images/Herobanner.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
}

#first-section, #second-section, #third-section, #fourth-section, #fifth-section, #footer {
    position: relative;
    z-index: 1;
}

#first-section .items {
    padding: 150px 40px;
}

#first-section .items p {
    font-weight: bold;
    font-size: 18px;
}

#first-section .items button {
    font-weight: bold;
    color: #fff;
    border: unset;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    background: #A38D65;
    display: inline-flex;
    padding: 0;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
}
#first-section .items button:hover{
    background: #6e5f42 !important;
}

#first-section div.hero-bot {
    background: url(../images/white-hero-bot.png);
    background-size: cover;
    padding: 40px 0;
    background-position: bottom;
    position: relative;
}

.button__text {
  display: inline-flex;
  align-items: center;
  padding: 0 30px;
  color: #fff;
  height: 100%;
}

.button__icon {
  display: inline-flex;
  align-items: center;
  padding: 0 20px;
  color: #fff;
  height: 100%;
  background: rgba(0, 0, 0, 0.08);
}

#second-section {
    padding: 190px 0 0 0;
}

#second-section .featured-carousel img{
    height: auto;
    width: 100%;
    border-radius: 10px 10px 0px 0px;
}

#second-section .featured-carousel {
    margin-top: 60px;
}

#second-section .featured-carousel .cards-wrap {
    border-bottom: 5px #A38D65 solid;
    display: block;
    position: relative;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 21px -14px rgb(0 0 0 / 50%);
    -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.50);
    box-shadow: 0px 5px 21px -14px rgb(0 0 0 / 50%);
}

#second-section .featured-carousel .cards-wrap .text-card {
    padding: 20px;
}
#second-section .item{
    margin: 0 10px;
} 
#second-section .cards-wrap .text-card h3{
    font-weight: bold;
}
#second-section .cards-wrap .text-card p{
    font-weight: 500;
    margin-bottom: unset;
}
#second-section .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 40px;
}
#second-section .owl-carousel .owl-dots .owl-dot {
    margin: 5px;
    background-color: #e6e6e6;
    position: relative;
    width: 5%;
    height: 5px;
    border-radius: 3px;
}
#second-section .owl-carousel .owl-dots .owl-dot.active {
    background-color: #A38D65;
}

#third-section {
    padding: 220px 0px 0px 0px;
}
#third-section .inquire {
    background-color: #bbad94;
    border-radius: 10px;
    padding: 50px;
    border: 4px dashed #A38D65;
}

#third-section .items button {
    font-weight: bold;
    color: #fff;
    border: unset;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    background: #A38D65;
    display: inline-flex;
    padding: 0;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
}
#third-section .items button:hover{
    background: #6e5f42!important;
}
#third-section div.third-bot {
    background: url(../images/white-bot.png);
    background-size: cover;
    padding: 60px 0;
    background-position: bottom;
    position: relative;
    background-color: #fbfbfb;
}
#third-section .img-btn-content img{
    width: 75%;
    border-radius: 10px;
    margin: auto;
    display: block;
}
#third-section .contact-me__item i {
    margin-right: 10px;
}

#fourth-section{
    background-color: #fbfbfb;
    padding: 180px 0px 0px 0px;
}
#fourth-section .featured-carousel-2 .cards-wrap {
    display: block;
    position: relative;
    padding: 165px 30px 30px 30px;
    border-radius: 10px;
    -webkit-box-shadow: 0px 5px 21px -14px rgb(0 0 0 / 14%);
    -moz-box-shadow: 0px 5px 21px -14px rgba(0, 0, 0, 0.14);
    box-shadow: 0px 5px 21px -14px rgb(0 0 0 / 14%);
    top: 0;
    left: 0;
    background-color: #bbad94;
    border: #A38D65 4px dashed;
}
#fourth-section .cards-wrap .text-card p {
    font-weight: bolder;
    font-size: 19px;
    margin-bottom: 0;
}
#fourth-section .item {
    padding-top: 100px;
}
#fourth-section .featured-carousel-2 img{
    position: absolute;
    top: -4.5em;
    width: 12em;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
}
#fourth-section .owl-carousel .owl-dots {
    text-align: center;
    margin-top: 40px;
}
#fourth-section .owl-carousel .owl-dots .owl-dot {
    margin: 5px;
    background-color: #e6e6e6;
    position: relative;
    width: 5%;
    height: 5px;
    border-radius: 3px;
}
#fourth-section .owl-carousel .owl-dots .owl-dot.active {
    background-color: #A38D65;
}

#fourth-section .headline{
    margin: auto;
    color: #343A40;
    margin-top: 30px;
    margin-bottom: 30px;
    font-size: 18px;
}
#fourth-section div.fourth-bot {
    background: url(../images/gray-bot.png);
    background-size: cover;
    padding: 130px 0;
    background-position: bottom;
    position: relative;
    background-color: #fff;
}

#fifth-section{
    padding: 200px 0 0 0;
}

#fifth-section .container {
    padding-bottom: 8em;
}
#fifth-section .featured-carousel-3{
    margin-top: 60px;
    margin-bottom: 40px;
}
#fifth-section .featured-carousel-3 .cards-wrap {
    background-color: #fff;
}
#fifth-section .featured-carousel-3 .card-content {
    background-color: #bbad94;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    padding: 70px;
}
#fifth-section .featured-carousel-3  p:nth-child(1) {
    color: #C23838;
    margin-bottom: 5px;
    font-size: 14px;
}
#fifth-section .featured-carousel-3 p:nth-child(3) {
    font-weight: 500;
}
#fifth-section .items .featured-carousel-3 button.button {
    font-weight: bold;
    color: #fff;
    border: unset;
    outline: none;
    overflow: hidden;
    border-radius: 5px;
    background: #A38D65;
    display: inline-flex;
    padding: 0;
    height: 50px;
    cursor: pointer;
    font-size: 14px;
}
#fifth-section .items .featured-carousel-3 button.button:hover{
    background: #6e5f42!important;
}
#fifth-section .featured-carousel-3 .img-card {
    background-image: url(../images/man-riding-mountain-bike-low-angle.png);
    background-position: center center;
    background-size: cover;
    background-repeat: no-repeat;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
    height: 100%;
}
#fifth-section .featured-carousel-3 .item-figure {
    padding-left: 0;
}
#fifth-section .featured-carousel-3 .item-content {
    padding-right: 0;
}

#fifth-section  .featured-carousel-3.owl-carousel .owl-dots{
    margin-top: -45px;
    margin-left: 50%;
    text-align: center;
}
#fifth-section .featured-carousel-3.owl-carousel .owl-dots .owl-dot {
    margin: 3px;
    background-color: rgba(255, 255, 255, 0.5);
    position: relative;
    width: 10px;
    height: 10px;
    border-radius: 30px;
}
#fifth-section .featured-carousel-3.owl-carousel .owl-dots .owl-dot.active {
    background-color: #fff;
}

#footer {
    padding-top: 4.5em;
    background-color: #343A40;
    color: #fff;
    font-weight: lighter;
}

#footer .footer-info h4{
    font-weight: bolder;
    margin-bottom: 1rem;
    color: #A38D65;
    font-size: 18px;
}
#footer .footer-info p{
    font-size: 14px;
}
#footer .footer-info .first-col, #footer .footer-info .sec-col, #footer .footer-info .third-col{
    padding: 0 1.5em;
}
#footer .footer-info .first-col p:nth-child(3){
    font-weight: 400;
}
#footer .footer-info .first-col a{
    text-decoration: none;
    color: #A38D65;

}
#footer .footer-info .first-col a:hover{
    color: #C23838;
}

#footer .footer-info .first-col .footer-social-media-links{
    padding-top: 20px;
}
#footer .footer-info .first-col .footer-social-media-links .social-button{
    display: inline-block;
    position: relative;
    cursor: pointer;
    width: 40px;
    height: 40px;
    border: 0.125rem solid transparent;
    padding: 0;
    text-decoration: none;
    text-align: center;
    font-size: 1.2rem;
    font-weight: normal;
    line-height: 1.98em;
    border-radius: 1.6875rem;
    transition: all 0.5s ease;
    margin-right: 0.25rem;
    margin-bottom: 0.25rem;
    background-color: transparent;
    border: #A38D65 solid 3px;
}

#footer .footer-info .first-col .footer-social-media-links .social-button:hover{
    -webkit-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    transform: rotate(360deg);
    background-color: #fff!important;
    color: #A38D65;
    border: unset;
}

#footer .footer-copyright{
    padding-top: 5em;
}
#footer .footer-copyright p{
    font-weight: bolder;
    font-size: 14px;
}
